body#login_register {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/clean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.fa-cubes {
    color: #ff6219;
}

.text-help {
    color: #393f81;
}

p.text-help > a {
    color: #393f81;
}

.img-fill {
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

.card {
    border-radius: 1rem;
}

.fw-normal {
    letter-spacing: 1px;
}

li.custom-nav-item > a.text-white {
    font-size: 1.2em;
}